@import '../variables';

.team-button-gryffindor {
  background-color: $gryffindor;
  @extend %team-button;
}

.team-button-slytherin {
  background-color: $slytherin;
 @extend %team-button;
}

.team-button-ravenclaw {
  background-color: $ravenclaw;
  @extend %team-button;
}

.team-button-hufflepuff {
  background-color: $hufflepuff;
  @extend %team-button;
}